
body {
  overflow-x: hidden;
  background: RGB(22,22,22);
  background-color: white;
 
}

::selection {
  background: #FF5A5A; /* WebKit/Blink Browsers */
  color:white;
}
::-moz-selection {
  background:#FF5A5A; /* Gecko Browsers */
  color:white;
}



.mainCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index:-10;
  /* display:none; */
}

.whiteBG{
  background-color: white;
}

@-o-keyframes fadeIt {
  0%   { background-color: #222222; }
 
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #222222; }

  100% { background-color: #FFFFFF; }
}

.whiteBG{    
    background-image:none !important; 
         -o-animation: fadeIt .45s ease-in-out; 
            animation: fadeIt .45s ease-in-out; 
}

#prologueSection p {
  width: 50%;
  margin: auto;
  font-size: 24px;
  margin-top: 20px;
  color: black;
}

#titleSection {
  color: white;
}



.fullHeightSection {
  height: 100vh;
  /* width: 100vw; */
  /* margin: auto; */
  color: black;
  font-family: Bookmania;

}



h1 {
    font-weight: normal;
    text-align: center;
    font-size: 60px;
    /* line-height: 12rem; */
}

h2 {
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 30px;
}

#title {
  margin-top: 35vh;
  color: white;
}

#searchBlock {
  text-align: justify;
  font-family: Roboto;
  font-size: 24px;
  line-height:1.3;
}

.resultsSection {
    text-align: justify;
  font-family: Roboto;
  font-size: 24px;
  line-height:1.3;

}



/* DROPZONE */

#stepOne{
  position: relative;
  border-top: 1px dotted red;

}

#dropzoneArea {
  padding: 0px;
  position: absolute;
  width: 60%;
  left: 20%;
  top:50%;
  transform: translateY(-50%);
  color:#FF5A5A;
  font-size: 30px;
  border:3px solid #FF5A5A;
  font-family: Roboto;
  text-transform: lowercase;
  margin:auto;


  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}



.resultsSection {
 /* height: 200px;	 */
 overflow: hidden;
 position: relative;
 border-top: 1px solid red;
 

}
.resultsSection p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 z-index:0;

 /* line-height: 1px; */

 /* Starting position */
 -moz-transform:translateY(100%);
 -webkit-transform:translateY(100%);	
 transform:translateY(100%);
 /* Apply animation to this element */	
 -moz-animation: creditScroll 45s linear infinite;
 -webkit-animation: creditScroll 45s linear infinite;
 animation: creditScroll 45s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes creditScroll {
 0%   { -moz-transform: translateY(0%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes creditScroll {
 0%   { -webkit-transform: translateY(0%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes creditScroll {
 0%   { 
 -moz-transform: translateY(0%); /* Browser bug fix */
 -webkit-transform: translateY(0%); /* Browser bug fix */
 transform: translateY(0%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Browser bug fix */
 -webkit-transform: translateY(-100%); /* Browser bug fix */
 transform: translateY(-100%); 
 }
}


/* .querySelector {
 
  margin:auto;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 28px;


  padding: 10px 30px;
  width: 40%;
  background-color: white;
  border:2px solid #FF5A5A;
  color:#FF5A5A;
  border-radius:100px;
  height: 45px;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} */

.querySelector {
  position: absolute;
  
  font-family: Roboto;
  font-size: 28px;
  /* padding-left: 30px;
  padding-top: 10px; */
  left: 30%;
  top: 3%;
  padding: 10px 30px;
  width: 40%;
  background-color: white;
  border:2px solid #FF5A5A;
  color:#FF5A5A;
  border-radius:100px;
  /* height: 45px; */
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.querySelector:hover {
  background-color: #f2f2f2;
  box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

.generateButton {
  
  position: absolute;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  /* padding-left: 30px;
  padding-top: 10px; */
  left: 40%;
  bottom: 3%;
  padding: 10px 30px;
  width: 20%;
  background-color: #FF5A5A;
  border:2px solid #FF5A5A;
  color:white;
  border-radius:100px;
  /* height: 45px; */
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.generateButton:hover {
  background-color: #ff7474;
  border:2px solid #ff7474;
  box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}


#dropzoneArea {
  padding: 0px;
  position: absolute;
  width: 60%;
  left: 20%;
  top:50%;
  transform: translateY(-50%);
  color:#FF5A5A;
  font-size: 30px;
  border:3px solid #FF5A5A;
  font-family: Roboto;
  text-transform: lowercase;
  margin:auto;


  

}

.blinking-cursor {
  font-weight: 100;
  font-size: 35px;
  color: #FF5A5A;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    
    color: #FF5A5A;
  }
  50% {
    color: transparent;
  }
}

@-moz-keyframes blink {
  from, to {
    color: #FF5A5A;
  }
  50% {
    color:transparent;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: #FF5A5A;
    
  }
  50% {
    
    color: transparent;
  }
}

@-ms-keyframes "blink" {
  from, to {
    
    color: #FF5A5A;
  }
  50% {
    color: transparent;
    
  }
}

@-o-keyframes "blink" {
  from, to {
    
    color: #FF5A5A;
  }
  50% {
    color: transparent;
  }
}

.nonpronoun {
  opacity:0;
  /* display: none; */

}

.pronoun {
  color: #FF5A5A;
}
